<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changes Saved</title>
</head>
<body>
    <h1> Woohoo!</h1>
    <h3> Your changes have been saved</h3>
    <h4> Wanna go to the home menu? <a href="..\index.html">Click here!</a></h4>
    <br/>
    <h4> Alternatively, see your <a href ="..\summary.html">summary</a></h4>
</body>
</html>
