*{
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper{
    margin-left:auto;
    margin-right:auto;
    width:1200px;
}

body{
    background: url(/img/LightGreenGradientBackground.jpg);
    background-size: cover;
    background-position: center;
}

.navmenu{
    display: flex;
    justify-content: right;
}

nav{
    margin: 1%;
    font-size: 28px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: rgb(175, 240, 125);
    width: 650px;
    text-align: center;
}

nav li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}

nav li a{
    color: #160053;
    text-decoration: none;
}

h1{
    color: #160053;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    font-size: 48px;
}

p{
    background: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.dateselect{
    margin-left: 100px;
    color: black;
    border: 25px solid #160053;
    width: 400px;
    font-size: 24px;
    padding: 10px 10px;
    text-align: right;
    float: left;

}

.dateselect form input{
    text-align: right;
    width: 200px;
    height: 50px;
    font-size: 24px;
}

.expenses{
    float: right;
    margin-right: 200px;
    border: 25px solid #160053;
    padding: 10px 10px;
    font-size: 24px;
    text-align: center;
}

.expenses form input{
    width: 200px;
    height: 50px;
    font-size: 24px;
    margin: 10px;
}

#total{
    background: white;
    display: flex;
    width: 180px;
    padding: 10px;
    justify-content: center;
    margin-left: 20px;
}

#submit{
    position:absolute;
    float: right;
    width: 200px;
    height: 50px;
    font-size: 24px;
    top: 890px;
    left: 1110px;
    cursor: pointer;
    border: 5px solid #160053;
    font-weight: bold;
    background:rgb(175, 240, 125);
}