*{
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

body{
    background: url(./LightGreenGradientBackground.jpg);
    background-size: cover;
    background-position: center;
}

.navmenu{
    display: flex;
    justify-content: right;
}

nav{
    margin: 1%;
    font-size: 28px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: rgb(175, 240, 125);
    width: 500px;
    text-align: center;
}

nav li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}

nav li a{
    color: #160053;
    text-decoration: none;
}

h1{
    color: #160053;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    font-size: 48px;
}

p{
    background: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 50px;
}

.budget_explain{
    float:left;
    width: 500px;
}

.inputs{
    color: black;
    border: 25px solid #160053;
    border-radius: 5px;
    border-spacing: 15px;
    width: 600px;
    text-align: right;
    font-size: 28px;
    padding: 10px 10px;
    float:right;
}

.inputs form input{
    width: 200px;
    height: 50px;
    font-size: 28px;
    text-align: right;
    border: 5px solid #160053;
    border-radius: 5px;
}

#submit{
    text-align: center;
    border: 5px solid #160053;
    cursor: pointer;
    font-weight: bold;
    background:rgb(175, 240, 125);
}